<div class="Rtable Rtable--4cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--25 Rtable-cell--head ">
    <span class="item">
      <p>Style</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--75  Rtable-cell--head">
    <span class="item">
      <p>Ability</p>
    </span>
  </li>

	<!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title melee">
    <span class="item">
      <p>Melee</p>
    </span>
  </li>
	<!-- col 1 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/dismember.png"/>
      <p>Dismember</p>
    </span>
  </li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/ability/melee/slaughter.png"/>
			<p>Slaughter</p>
		</span>
	</li>
	<!-- col 3 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/blood_tendrils.png"/>
      <p>Blood Tendrils</p>
    </span>
  </li>

	<!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title ranged">
    <span class="item">
      <p>Ranged</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell ranged">
    <span class="item">
      <img src="/assets/img/game-icon/ability/ranged/corruption_shot.png"/>
      <p>Corruption Shot</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell ranged">
    <span class="item">
      <img src="/assets/img/game-icon/ability/ranged/fragmentation_shot.png"/>
      <p>Fragmentation Shot</p>
    </span>
  </li>
	<!-- col 4 -->
	<li class="Rtable-cell ranged Rtable-cell--empty">
		<!-- Intentionally left blank -->
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title magic">
    <span class="item">
      <p>Magic</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/corruption_blast.png"/>
      <p>Corruption Blast</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/combust.png"/>
      <p>Combust</p>
    </span>
  </li>
	<!-- col 4 -->
	<li class="Rtable-cell magic Rtable-cell--empty">
		<!-- Intentionally left blank -->
	</li>

</div>
