<div class="Rtable Rtable--4cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--25 Rtable-cell--head ">
    <span class="item">
      <p>Ability</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--75  Rtable-cell--head">
    <span class="item">
      <p>Explanation/Use</p>
    </span>
  </li>

	<!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--25 Rtable-cell--title defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/provoke.png"/>
      <p>Provoke</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--75 defence">
    <span>
      <p>Provoke is used in PvM to make the target aggressive towards a player (and reduces enemy and player DPS to other targets by 50% in PvP), while Incite is used to make it more aggressive towards that player, and thus, should be used by the Tank.</p>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--25 Rtable-cell--title defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/natural_instinct.png"/>
      <p>Natural Instinct</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--75 defence">
    <span>
      <p>Natural Instinct is used in situations where you’d want to build up to full adrenaline while also being under the effect of your Ultimate in PvM.</p>
    </span>
  </li>

</div>
