<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/inventory/combat_dummy_mkII.png"/>
			<a href="{% include url/wiki %}/Combat_dummy_MKII">
				Combat Dummy MKII
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Allows you to build to 100% adrenaline before fights.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Use before going into fights or to help during a fight (i.e Rax at P4).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Invention Crafting (Level 113).</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/inventory/dominion_mine.png"/>
			<a href="{% include url/wiki %}/dominion_mines">
				Dominion Mine
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Primarily used to increase damage within Elite Dungeons against the Black Stone Dragon and Seiryu.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Refer to guides on both bosses for optimal use.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Dominion Tower reward (kill 400 bosses).</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/inventory/dreadnip.png"/>
			<a href="{% include url/wiki %}/dreadnip">
				Dreadnip
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Any PvM encounter you don’t need the additional inventory space for.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Summon them during boss fights for extra damage.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Dominion Tower reward (kill 450 bosses).</p>
		</span>
	</li>

</div>
