<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Location</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>How to Get</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--title">
		<span>
			<img src="/assets/img/game-icon/item/inventory/drakans_medallion.png"/>
			<a href="{% include url/wiki %}/drakans_medallion">
				Drakan’s Medallion
			</a>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Various locations in Morytania.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Barrows and Rise of the Six.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Complete "The Branches of Darkmeyer" Quest.</p>
		</span>
	</li>

</div>
