.page

	display: flex
	flex-wrap: wrap

	margin: -200px auto 0 auto

	width: 94%

.container
	margin-bottom: $content-spacer

	background: $dark-blue
	background-image: $texture-light
	box-shadow: $box-shadows

.body
	z-index: 10

.content
	padding: 5%
	padding: 30px

.sidebar
	z-index: 5

.body, .sidebar
	width: 100%

.sidebar .desktop, .sidebar .mobile
	display: none
	visibility: hidden

// MOBILE+
@media screen and (min-width: $mobile)

	.sidebar

		.mobile
			display: block
			visibility: visible

		img
			display: none
			visibility: hidden

// TABLET+
@media screen and (min-width: $tablet)

	.page, footer
		width: 90%

	.body
		width: 70%

	.content
		padding: 30px

	.sidebar
		margin-left: 2%
		width: 28%

		.desktop
			display: block
			visibility: visible

		img
			display: block
			visibility: visible

// DESKTOP+
@media screen and (min-width: $desktop)

	.page, footer
		max-width: 1200 + $content-spacer

	.content
		padding: 40px

	.sidebar

		.side-bar-image
			display: block
			visibility: visible

//		section
//			margin-bottom: $content-spacer
