<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/tool-belt/advanced-gold-accumulator.png"/>
			<p>Advanced Gold Accumulator</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				A non-degradable version of the Gold Accumulator. It adds dropped coins to the money pouch at a cost of 10% of the collected gold.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Add to toolbelt. Use during all combat.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Buy for 1,500,000 Dungeoneering Tokens.
			</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/tool-belt/bonecrusher.png"/>
			<p>Bonecrusher (Upgrade)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Crushes bones and converts them into prayer XP. The upgrade picks up bones and puts them in you inventory.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Prioritise adding this to toolbelt. Can be used with a
				prayer necklace to regain prayer passively from
				creatures that drop bones.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Buy for 34,000 Dungeoneering Tokens.<br>
				Upgrade for 25,000 chimes and 25 Taikitu.
			</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/tool-belt/charming_imp.png"/>
			<p>Charming Imp</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Picks up charms and puts them in you inventory.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Prioritise adding this to toolbelt.<br>
				Use on Slayer Tasks.<br>
				(Disable Gold and Green charms).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Buy for 100,000 Dungeoneering Tokens.
			</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/tool-belt/herbicide.png"/>
			<p>Herbicide</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Destroys herbs, converting them into Herblore XP.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Add to toolbelt.<br>
				Use on Slayer Tasks.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Buy for 34,000 Dungeoneering Tokens.
			</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/tool-belt/seedicide.png"/>
			<p>Seedicide</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Destroys seeds, converting them into Farming XP.a</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Add to toolbelt.<br>
				Use on Slayer Tasks.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Player Owned Farms:<br>
				10,000 Beans.
			</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/tool-belt/spring_cleaner_9001.png"/>
			<p>Spring Cleaner (9001)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Destroys selected loot, sending some of their raw materials to the bank.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Breaks down item into base components, use	this Calculator to for maximum profit.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Treasure Hunter or Invention crafting.
			</p>
		</span>
	</li>

</div>
