<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>How to Get</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/ammo/bolts/hydrix-bakriminel-bolts.png"/>
			<p>Hydrix Bakriminel Bolts (e) / Acendri Bolts (e)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>10% chance to instantly grant 10% adrenaline and an additional 1% from basic attacks for the next 15 seconds.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Using these bolts feels almost like standing in the green beam at Telos. Quite expensive.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Enchant Hydrix Bakriminel Bolts / Acendri Bolts (Or buy off the G.E).</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/ammo/bolts/ruby-bakriminel-bolts.png"/>
			<p>Ruby Bakriminel Bolts (e) </p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				5% chance to hit the target for 20% of their health (capped at generally 10,000) while taking 10% of your health.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use at high HP bosses when ranging. The bolts significantly increase your DPS.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Enchant Ruby Bakriminel Bolts<br>(Or buy off the G.E).</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/ammo/bolts/onyx-bakriminel-bolts.png"/>
			<p>Onyx Bakriminel Bolts (e)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				10% chance to deal 25% more damage and heal the player for 25% of the damage potential of the attack (capping at 2.5k).
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Switch to these bolts when casting onslaught, or using the Eldritch Crossbow special attack.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Enchant Onyx Bakriminel Bolts<br>(Or buy off the G.E).</p>
		</span>
	</li>

</div>
