<div id="banner">
    
    <p>
        The Pocketbook website launch remains to be a work in progress and is still being corrected. Please report any errors through <a href="https://discord.gg/eMegRbr" target="_blank">Discord</a>.
    </p>

</div>