<!-- Jquery -->
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<!-- Combined Scripts -->
<script type='text/javascript' src='/assets/js/main.js'></script>

<!-- Stellar Nav -->
<!-- <script type="text/javascript" src="/assets/js/stellarnav.js"></script> -->

<script type="text/javascript">
  jQuery(document).ready(function($) {
    jQuery('.stellarnav').stellarNav({
      theme: 'dark',
      breakpoint: 960,
      position: 'static',
      // phoneBtn: '',
      // locationBtn: ''
    });
  });
</script>