<div class="Rtable Rtable--4cols Rtable--collapse">

	<!--TITLES-->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Familiar</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Scroll</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--35 Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--25 Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/familiar/blood-nihil.png"/>
			<p>Blood Nihil</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>No scrolls required.</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Boosts Melee Accuracy by 5% -- Best familiar when the boss is immune to 			familiar damage, you are using Melee,	and don’t need a Beast of Burden.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>Araxxor.</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/familiar/shadow-nihil.png"/>
			<p>Shadow Nihil</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>No scrolls required.</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--35">
			<p>
				Boosts Ranged Accuracy by 5% -- Best familiar when the boss is immune to familiar damage, you are using Ranged, and don’t need a Beast of Burden.
			</p>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Nex,<br>
				RoTS (If Ranging),<br>
				Araxxor (If Ranging).
			</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/familiar/ice-nihil.png"/>
			<p>Ice Nihil</p>
		</span>
		<span>
			<img src="/assets/img/game-icon/familiar/smoke-nihil.png"/>
			<p>Smoke Nihil</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>No scrolls required.</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Boosts Magic Accuracy by 5% -- Best familiar when the boss is immune to familiar damage, you are using Magic, and don’t need a Beast of Burden.
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				Telos,<br>
				Vorago,<br>
				RoTS (If Maging),<br>
				Araxxor (If Maging).
			</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/familiar/demon-deacon.png"/>
			<p>Demon Deacon</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/familiar/scroll/ring-of-fire.png"/>
			<p>Ring of Fire</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Deals significant AoE Damage in a 9x9 area around the familiar. Their scrolls are relatively expensive to use.
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>Slayer Tasks where AoE is required.</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/familiar/steel-titan.png"/>
			<p>Steel Titan</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/familiar/scroll/steel-of-legends.png"/>
			<p>Steel of Legends</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Deals incredible single target damage. Each scroll deals 4 Melee OR Ranged attacks based on the titans distance.
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>
				All other PvM situations that don’t require a beast of burden to carry additional food.
			</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/familiar/pack-yak.png"/>
			<p>Baroo (Pack Yak)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/familiar/scroll/winter-storage.png"/>
			<p>Winter Storage</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--35">
		<span>
			<p>
				Allows you to survive extended encounters by carrying food. Their scrolls can send items to the bank.
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--25">
		<span>
			<p>PvM encounters that require additional food, or when learning a new boss.</p>
		</span>
	</li>

</div>
