<div class="Rtable Rtable--5cols Rtable--collapse">

	<!--TITLES-->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30 Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--15 Rtable-cell--head">
		<span>
			<p>Level</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20 Rtable-cell--head">
		<span>
			<p>Effect</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--15 Rtable-cell--head">
		<span>
			<p>Adrenaline Cost</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/item/food/sailfish_soup.png"/>
			<p>Sailfish Soup</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span>
			<p>
				Highest healing panic food. Generally used in conjunction with a Saradomin Brew.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>99</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				+2,600<br>
				Boosts max health
				by 15%.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>-10%</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/item/food/sailfish.png"/>
			<p>Sailfish</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span>
			<p>
				High healing panic food. Generally used in conjunction with a Saradomin Brew.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>96</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				+2,400<br>
				Boosts max health
				by 10%.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>-10%</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/item/food/great_gunkan.png"/>
			<p>Great Gunkan</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span>
			<p>
				Primarily used for it’s heal-over-time to
				stabilise health for long periods. Use
				where large heals aren’t required.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>91</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>
				+1,500<br>
				+ 1,350 over 9s
				[2,850 total]
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>-10%</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/item/food/rocktail.png"/>
			<p>Rocktail</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span>
			<p>
				Use during Slayer.
				(or Great Gunkan is on cooldown)
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>92</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>+2,300</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>-10%</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/item/food/shark.png"/>
			<p>Shark</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span>
			<p>
				Use during Slayer.
				(or Great Gunkan is on cooldown)
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>80</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>+2,000</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>-10%</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/item/food/blue_blubber_jellyfish.png"/>
			<p>Blue Blubber Jellyfish</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span>
			<p>
				Low healing without losing Adrenaline.
				Does not have a tick cost.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>30</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>+750</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>0%</p>
		</span>
	</li>

	<!-- ROW 7 -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<img src="/assets/img/game-icon/item/food/karambwan.png"/>
			<p>Karambwans</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--30">
		<span>
			<p>
				Low healing without losing Adrenaline.
				Does not have a tick cost.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>30</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--20">
		<span>
			<p>+750</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--15">
		<span>
			<p>0%</p>
		</span>
	</li>

</div>
