<div class="Rtable Rtable--5cols Rtable--collapse">

	<!--TITLES-->

	<!-- Heading -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Level</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>How to Get</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-prayer-renewal-potion.png"/>
			<p>Super Prayer Renewal Potion</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				96
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				The best prayer renewal option outside of a salve.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				When not using a salve.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>750,000 coins from Lady Meilyr.</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/prayer-renewal-flask.png"/>
			<p>Prayer Renewal Flask</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				94
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Restores prayer over time.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use when you need to recover prayer without a demonhorn necklace.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft with herblore (Or buy off the G.E).
			</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/enhanced-replenishment-potion.png"/>
			<p>Enhanced Replenishment Potion</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				90
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Restores 30% adrenaline and acts as a super restore.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft these to increase your doses of super adrenaline potion from 4 to 6.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Is unlocked with the replenishment potion.
			</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/replenishment-potion.png"/>
			<p>Replenishment Potion</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				87
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Restores 25% adrenaline and acts as a super restore.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft these to increase your doses of adrenaline potion from 4 to 6.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				200,000 coins from Lady Meilyr.
			</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-adrenaline-potion.png"/>
			<p>Super Adrenaline Potion</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				87
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Restores 30% adrenaline.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft these to enhance the effect of your adrenaline potions.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Add an adrenaline crystal to a 3-dose adrenaline potion.
			</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/adrenaline-potion.png"/>
			<p>Adrenaline Potion</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				84
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Restores 25% adrenaline.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use to restore adrenaline after using an ultimate ability.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft with herblore (untradable).
			</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-restore-flask.png"/>
			<p>Super Restore Flask</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				63
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Restores stats, prayer & summoning.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use to instantly restore prayer and summoning.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft with herblore (Or buy off the G.E).
			</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-saradomin-brew-flask.png"/>
			<p>Super Saradomin Brew Flask</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				93
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Heals 1,300 health but lowers stats. Used for long sustained PvM fights where survivability is the major factor.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use to instantly heal moderate amounts of health without losing adrenaline.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft with herblore (Or buy off the G.E).
			</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/saradomin-brew-flask.png"/>
			<p>Saradomin Brew Flask</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				81
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Heals 1,000 health but lowers stats. Therefore it must be taken with super restore or overload.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use to instantly heal small amounts of health without losing adrenaline.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft with herblore (Or buy off the G.E).
			</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/super-guthix-rest-flask.png"/>
			<p>Super Guthix Rest</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				93
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Cures poison, heals 650 health and provides 15% Adrenaline.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use to cure poison and restore adrenaline.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft with herblore (Or buy off the G.E).
			</p>
		</span>
	</li>

	<!-- ROW 7 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/guthix-rest-flask.png"/>
			<p>Guthix Rest Flask</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				18
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Cures poison and heals 500 health.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use to cure poison and restore adrenaline.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Craft with herblore (Or buy off the G.E). 
			</p>
		</span>
	</li>

	<!-- ROW 8 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/ogre-flask-(thermal).png"/>
			<p>Ogre Flask (Thermal)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				1
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Boosts your constitution by three levels, giving you a 297 hp boost at level 99 for ~14-minutes.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use to boost maximum health, useful when tanking.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Complete the "As a First Resort" quest.
			</p>
		</span>
	</li>

</div>