<div class="Rtable Rtable--5cols Rtable--collapse">

	<!--TITLES-->

	<!-- Heading -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Item</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Level</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Explanation</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Use</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>How to Get</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/holy-overload-potion.png"/>
			<p>Holy Overload Potion</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				97
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Combines overload and prayer renewal to restore prayer over time.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Cheaper alternative to supremes, handy when not using a demonhorn necklace.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>700,000 coins from Lady Meilyr.</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/searing-overload-potion.png"/>
			<p>Searing Overload Potion</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				97
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Combines overload and super antifire to protect from dragon breath.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Cheaper alternatives to salves, handy for dragon and wyvern tasks.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>700,000 coins from Lady Meilyr.</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/potion/aggroverload-potion.png"/>
			<p>Aggroverload</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				97
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Combines overload with aggression potion.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Use on afk or low level slayer tasks.
			</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>1,000,000 coins from Lady Meilyr.</p>
		</span>
	</li>

</div>