<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/ability-unlock-order.html %}

	<!-- ROW 1 -->

  <!-- col 1 -->
  <li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/ability/melee/blood_tendrils.png"/>
			<p>Blood Tendrils</p>
		</span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell melee">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell melee">
    <span>
      <p>Melee</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell melee">
    <span>
      <p>Blood Tendrils applies a bleed to both you and your target, with the damage heavily in your favour. 108-540% damage to target, 25-100%, damage to the user.
			Blood Tendrils is best used outside of Berserk, so the player doesn't reach the maximum damage cap.</p>
    </span>
  </li>

	<!-- ROW 2 -->

  <!-- col 1 -->
  <li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/shadow_tendrils.png"/>
			<p>Shadow Tendrils</p>
		</span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell ranged">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell ranged">
    <span>
      <p>Ranged</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell ranged">
    <span>
      <p>Shadow Tendrils hits the player multiple times, before hitting the target for a single hit equal to double the damage the player took. On average, 274% damage to target, 137% damage to user. It should only be used alongside Death's Swiftness, as only the target damage is increased.</p>
    </span>
  </li>

	<!-- ROW 3 -->

  <!-- col 1 -->
  <li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/ability/magic/smoke_tendrils.png"/>
			<p>Smoke Tendrils</p>
		</span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell magic">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell magic">
    <span>
      <p>Magic</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell magic">
    <span>
			<p>Smoke Tendrils first hits the target, and then both the player and target for increasing amounts of damage. On average, 345% damage to target, up to 175% to user. It should only be used alongside Sunshine, as only the target damage is increased.</p>
    </span>
  </li>

	<!-- ROW 2 -->

  <!-- col 1 -->
  <li class="Rtable-cell constitution">
		<span class="item">
			<img src="/assets/img/game-icon/ability/constitution/ice_asylum.png"/>
			<p>Ice Asylum</p>
		</span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell constitution">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell constitution">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell constitution">
    <span>
      <p>Places an AoE healing effect that heals yourself and nearby players.</p>
    </span>
  </li>

</div>
