<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/ability-unlock-order.html %}

	<!-- ROW 1 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/devotion.png"/>
      <p>Devotion</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>High</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Defence</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>Makes protection prayers 100% effective/block all damage.</p>
    </span>
  </li>

  <!-- ROW 2 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sacrifice.png"/>
      <p>Sacrifice</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>Damages the target while healing you. This should always be used to finish off targets for a larger heal.</p>
    </span>
  </li>

  <!-- ROW 3 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/transfigure.png"/>
      <p>Transfigure</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Low</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>Use to heal back to full health in situations where moving isn’t required. <br><br> This ability binds the player for 6 seconds.</p>
    </span>
  </li>

</div>
