<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/ability-unlock-order.html %}

	<!-- ROW 1 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/ability/constitution/sigil/limitless.png"/>
			<p>Limitless</p>
		</span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>High</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>
        When active (for 6 seconds), threshold abilities can be cast with 15% adrenaline instead of 50% adrenaline.</p>
    </span>
  </li>

  <!-- ROW 2 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/demon_slayer.png"/>
      <p>Demon Slayer</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>When active (for 10 seconds), all damge dealt to Demons is increased by 15%. Is useful for slayer.</p>
    </span>
  </li>

	<!-- ROW 3 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/dragon_slayer.png"/>
      <p>Dragon Slayer</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>When active (for 10 seconds), all damage dealt to Dragons is increased by 15%. Is useful for slayer, KDB, QBD and ED2.</p>
    </span>
  </li>

	<!-- ROW 5 -->

  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/undead_slayer.png"/>
      <p>Undead Slayer</p>
    </span>
  </li>
  <!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
      <p>Moderate</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Constitution</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>When active (for 10 seconds), all damge dealt to Undead is increased by 15%. Is useful for slayer and ED3.</p>
    </span>
  </li>

</div>
