 // Font Init

@font-face {
    font-family: "cinzel";
    src: url("../fonts/cinzel/cinzel-regular.otf");
}

@font-face {
    font-family: "cinzel-bold";
    src: url('../fonts/cinzel/cinzel-bold.otf');
}

@font-face {
    font-family: "cinzel-black";
    src: url('../../fonts/cinzel/cinzel-black.otf');
}
