<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/pocket/scrimshaw_of_vampyrism.png"/>
			<p>Scrimshaw of Vampyrism</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Provides healing while using Melee.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Some PvM<br>
				(Limit 1-3 per team).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Unlock the 4 Scrolls from Ports<br>
				(Or buy off the G.E).<br>
				(Inferior version).
			</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/pocket/scrimshaw_of_cruelty.png"/>
			<p>Scrimshaw or Cruelty</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Best for DPS while using Ranged.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>PvM.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Unlock the 4 Scrolls from Ports<br>
				(Or buy the Inferior Version off the G.E).</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/pocket/scrimshaw_of_the_elements.png"/>
			<p>Scrimshaw of Elements</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span class="item">
			<p>Best for DPS while using Magic.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>PvM.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
			Unlock the 4 Scrolls from Ports<br>
			(Or buy off the G.E).<br>
			(Inferior version).
			</p>
		</span>
	</li>

</div>
