<div class="Rtable Rtable--2cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--head ">
    <span class="item">
      <p>Slot</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90  Rtable-cell--head">
    <span class="item">
      <p>Defensive and Constitution Bar</p>
    </span>
  </li>

	<!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10">
    <span class="item">
      <p>1</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/devotion.png"/>
      <p>Devotion</p>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>2</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/reflect.png"/>
      <p>Reflect</p>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>3</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/debilitate.png"/>
      <p>Debilitate</p>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>4</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/revenge.png"/>
      <p>Revenge</p>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>5</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/preparation.png"/>
      <p>Preparation</p>
    </span>
  </li>

  <!-- ROW 6 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>6</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/provoke.png"/>
      <p>Provoke</p>
    </span>
  </li>

  <!-- ROW 7 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>7</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/anticipation.png"/>
      <p>Anticipation</p>
    </span>
  </li>

  <!-- ROW 8 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>8</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/tuskas_wrath.png"/>
      <p>Tuska's Wrath</p>
    </span>
  </li>

  <!-- ROW 9 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>9</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sacrifice.png"/>
      <p>Sacrifice</p>
    </span>
  </li>

  <!-- ROW 10 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>10</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/reprisal.png"/>
      <p>Reprisal</p>
    </span>
  </li>

  <!-- ROW 11 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>11</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/storm_shards.png"/>
      <p>Storm Shards</p>
    </span>
  </li>

  <!-- ROW 12 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>12</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/shatter.png"/>
      <p>Shatter</p>
    </span>
  </li>

  <!-- ROW 13 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>13</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/immortality.png"/>
      <p>Immortality</p>
    </span>
  </li>

  <!-- ROW 14 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>14</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/onslaught.png"/>
      <p>Onslaught</p>
    </span>
  </li>

</div>
