<h2>Greater Fury</h2>

<p>
  If you don’t have Greater Fury, remove regular Fury from your fully automatic bar entirely. Move all other abilities up one and add Forceful Backhand to the end of the bar.
</p>

<div class="Rtable Rtable--4cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--head ">
    <span class="item">
      <p>Slot</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30  Rtable-cell--head">
    <span class="item">
      <p>Melee Bar</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--30  Rtable-cell--head">
    <span class="item">
      <p>Ranged Bar</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30  Rtable-cell--head">
    <span class="item">
      <p>Magic Bar</p>
    </span>
  </li>

	<!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>1</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/berserk.png"/>
      <p>Berserk</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/deaths_swiftness.png"/>
			<p>Death's Swiftness</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/dragon_breath.png"/>
      <p>Dragon Breath</p>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>2</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/hurricane.png"/>
      <p>Hurricane</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/corruption_shot.png"/>
			<p>Corruption Shot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/sunshine.png"/>
      <p>Sunshine</p>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>3</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/decimate.png"/>
      <p>Decimate</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/snap_shot.png"/>
			<p>Snap Shot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/tsunami.png"/>
      <p>Tsunami</p>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>4</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/cleave.png"/>
      <p>Cleave</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/fragmentation_shot.png"/>
			<p>Fragmentation Shot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/wild_magic.png"/>
      <p>Wild Magic</p>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>5</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/dismember.png"/>
      <p>Dismember</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/needle_strike.png"/>
			<p>Needle Strike</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/sonic_wave.png"/>
      <p>Sonic Wave</p>
    </span>
  </li>

  <!-- ROW 6 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>6</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/greater_fury.png"/>
      <p>Greater Fury</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/snipe.png"/>
			<p>Snipe</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/combust.png"/>
      <p>Combust</p>
    </span>
  </li>

  <!-- ROW 7 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>7</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/smash.png"/>
      <p>Smash</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/binding_shot.png"/>
			<p>Binding Shot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/corruption_blast.png"/>
      <p>Corruption Blast</p>
    </span>
  </li>

  <!-- ROW 8 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>8</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/destroy.png"/>
      <p>Destroy</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/rapid_fire.png"/>
			<p>Rapid Fire</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/asphyxiate.png"/>
      <p>Asphyxiate</p>
    </span>
  </li>

  <!-- ROW 9 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>9</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/sever.png"/>
      <p>Sever</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/greater_dazing_shot.png"/>
			<p>Greater Dazing Shot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/impact.png"/>
      <p>Impact</p>
    </span>
  </li>

  <!-- ROW 10 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>10</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/assault.png"/>
      <p>Assault</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/piercing_shot.png"/>
			<p>Piercing Shot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/chain.png"/>
      <p>Chain</p>
    </span>
  </li>

  <!-- ROW 11 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>11</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/havoc.png"/>
      <p>Havoc</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/shadow_tendrils.png"/>
			<p>Shadow Tendrils</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/wrack.png"/>
      <p>Wrack</p>
    </span>
  </li>

  <!-- ROW 12 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>12</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/slaughter.png"/>
      <p>Slaughter</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/bombardment.png"/>
			<p>Bombardment</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/concentrated_blast.png"/>
      <p>Concentrated Blast</p>
    </span>
  </li>

  <!-- ROW 13 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>13</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/slice.png"/>
      <p>Slice</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/tight_bindings.png"/>
			<p>Tight Bindings</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/deep_impact.png"/>
      <p>Deep Impact</p>
    </span>
  </li>

  <!-- ROW 14 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>14</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/blood_tendrils.png"/>
      <p>Blood Tendrils</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/ricochet.png"/>
			<p>Ricochet</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/smoke_tendrils.png"/>
      <p>Smoke Tendrils</p>
    </span>
  </li>

</div>
