<div class="Rtable Rtable--2cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--head ">
    <span class="item">
      <p>Slot</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90  Rtable-cell--head">
    <span class="item">
      <p>Prayers and Consumables Bar</p>
    </span>
  </li>

	<!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10">
    <span class="item">
      <p>1</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 magic">
    <span class="item">
      <img src="/assets/img/game-icon/spell/normal/vulnerability.png"/>
      <p>Vulnerability</p>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>2</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/freedom.png"/>
      <p>Freedom</p>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>3</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/barricade.png"/>
      <p>Barricade</p>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>4</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 prayer">
    <span class="item">
      <img src="/assets/img/game-icon/prayer/deflect_melee.png"/>
      <p>Deflect Melee</p>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>5</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 prayer">
    <span class="item">
      <img src="/assets/img/game-icon/prayer/deflect_missiles.png"/>
      <p>Deflect Missiles</p>
    </span>
  </li>

  <!-- ROW 6 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>6</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 prayer">
    <span class="item">
      <img src="/assets/img/game-icon/prayer/deflect_magic.png"/>
      <p>Deflect Magic</p>
    </span>
  </li>

  <!-- ROW 7 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>7</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 prayer">
    <span class="item">
      <img src="/assets/img/game-icon/prayer/soul_split.png"/>
      <p>Soul Split</p>
    </span>
  </li>

  <!-- ROW 8 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>8</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 magic">
    <span class="item">
      <img src="/assets/img/game-icon/spell/normal/entangle.png"/>
      <p>Entangle</p>
    </span>
    <span class="item">
      <img src="/assets/img/game-icon/spell/ancient/ice_barrage.png"/>
      <p>Ice Barrage</p>
    </span>
  </li>

  <!-- ROW 9 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>9</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/eat_food.png"/>
      <p>Eat Food</p>
    </span>
  </li>

  <!-- ROW 10 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>10</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90">
    <span class="item">
      <img src="/assets/img/game-icon/item/potion/saradomin-brew-flask.png"/>
      <p>Saradomin Brew</p>
    </span>
    <span class="item">
      <img src="/assets/img/game-icon/item/potion/guthix-rest-flask.png"/>
      <p>Guthix Rest</p>
    </span>
  </li>

  <!-- ROW 11 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>11</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90">
    <span class="item">
      <img src="/assets/img/game-icon/item/potion/super-restore-flask.png"/>
      <p>Super Restore</p>
    </span>
  </li>

  <!-- ROW 12 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>12</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/surge.png"/>
      <p>Surge</p>
    </span>
  </li>

  <!-- ROW 13 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>13</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 ranged">
    <span class="item">
      <img src="/assets/img/game-icon/ability/ranged/escape.png"/>
      <p>Escape</p>
    </span>
  </li>

  <!-- ROW 14 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>14</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/greater_barge.png"/>
      <p>Greater Barge</p>
    </span>
  </li>

</div>
