<div class="Rtable Rtable--4cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--head ">
    <span class="item">
      <p>Slot</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30  Rtable-cell--head">
    <span class="item">
      <p>Melee Bar</p>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--30  Rtable-cell--head">
    <span class="item">
      <p>Ranged Bar</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30  Rtable-cell--head">
    <span class="item">
      <p>Magic Bar</p>
    </span>
  </li>

	<!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>1</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/perk/lunging.png"/>
      <p>Lunging Weapon Switch</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/perk/planted_feet.png"/>
			<p>Planted Feet Weapon Switch</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/perk/planted_feet.png"/>
      <p>Planted Feet Weapon Switch</p>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>2</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/main-hand.png"/>
      <p>Main Hand Weapon</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/main-hand.png"/>
			<p>Main Hand Weapon</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/main-hand.png"/>
      <p>Main Hand Weapon</p>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>3</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/off-hand.png"/>
      <p>Off-hand Weapon</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/off-hand.png"/>
			<p>Off-hand Weapon</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/off-hand.png"/>
      <p>Off-hand Weapon</p>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>4</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/two-hand.png"/>
      <p>Two-handed Weapon</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/two-hand.png"/>
			<p>Two-handed Weapon</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/two-hand.png"/>
      <p>Two-handed Weapon</p>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>5</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/item/weapon/special/statius_warhammer.png"/>
      <p>Statius's Warhammer</p>
    </span>
    <span class="item">
      <img src="/assets/img/game-icon/item/weapon/zaros_godsword.png"/>
      <p>Zaros Godsword</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/seren_godbow.png"/>
			<p>Seren Godbow</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/item/weapon/special/guthix_staff.png"/>
      <p>Guthix Staff</p>
    </span>
  </li>

  <!-- ROW 6 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>6</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/perk/flanking.png"/>
      <p>Flanking Weapon Switch</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/perk/flanking.png"/>
			<p>Flanking Weapon Switch</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/perk/flanking.png"/>
      <p>Flanking Weapon Switch</p>
    </span>
  </li>

  <!-- ROW 7 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>7</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/item/weapon/noxious_scythe.png"/>
      <p>Noxious Scythe</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/special/mechanised_chinchompa.png"/>
			<p>Mechanised Chinchompa</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/bash.png"/>
      <p>Bash</p>
    </span>
  </li>

  <!-- ROW 8 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>8</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/destroy.png"/>
      <p>Destroy</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/salt_the_wound.png"/>
			<p>Salt the Wound</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/spell/normal/air_surge.png"/>
      <p>Autocast Spell</p>
    </span>
  </li>

  <!-- ROW 9 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>9</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/greater_flurry.png"/>
      <p>Greater Flurry</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/incendiary_shot.png"/>
			<p>Incendiary Shot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/tsunami.png"/>
      <p>Tsunami</p>
    </span>
  </li>

  <!-- ROW 10 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>10</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/slaughter.png"/>
      <p>Slaughter</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/ability/ranged/deadshot.png"/>
			<p>Deadshot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/ability/magic/metamorphosis.png"/>
      <p>Metamorphosis</p>
    </span>
  </li>

  <!-- ROW 11 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>11</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/spell/lunar/disruption_shield.png"/>
      <p>Disruption Shield</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/spell/lunar/disruption_shield.png"/>
			<p>Disruption Shield</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/spell/lunar/disruption_shield.png"/>
      <p>Disruption Shield</p>
    </span>
  </li>

  <!-- ROW 12 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>12</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/spell/lunar/vengeance_group.png"/>
      <p>Vengeance Group</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/spell/lunar/vengeance_group.png"/>
			<p>Vengeance Group</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/spell/lunar/vengeance_group.png"/>
      <p>Vengeance Group</p>
    </span>
  </li>

  <!-- ROW 13 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>13</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/overpower.png"/>
      <p>Overpower</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/tool-belt.png"/>
			<p>Utility Slot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/spell/seren/shield_dome.png"/>
      <p>Shield Dome</p>
    </span>
  </li>

  <!-- ROW 14 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>14</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--30 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/meteor_Strike.png"/>
      <p>Meteor Strike</p>
    </span>
  </li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--30 ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/tool-belt.png"/>
			<p>Utility Slot</p>
		</span>
	</li>
	<!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--30 magic">
    <span class="item">
      <img src="/assets/img/game-icon/spell/spellbook_swap.png"/>
      <p>Spellbook Swap</p>
    </span>
  </li>

</div>
