<div class="Rtable Rtable--2cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--head ">
    <span class="item">
      <p>Slot</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90  Rtable-cell--head">
    <span class="item">
      <p>Switches and Sigils Bar</p>
    </span>
  </li>

	<!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10">
    <span class="item">
      <p>1</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 melee">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/main-hand.png"/>
      <p>Bladed Dive Main Hand</p>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>2</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 melee">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/off-hand.png"/>
      <p>Bladed Dive Off-Hand</p>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>3</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 melee">
    <span class="item">
      <img src="/assets/img/game-icon/ability/melee/bladed_dive.png"/>
      <p>Bladed Dive</p>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>4</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 magic">
    <span class="item">
      <img src="/assets/img/game-icon/spell/seren/intercept.png"/>
      <p>Intercept</p>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>5</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/ring.png"/>
      <p>Primary DPS Ring</p>
    </span>
  </li>

  <!-- ROW 6 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>6</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90">
    <span class="item">
      <img src="/assets/img/game-icon/item/ring/ring_of_vigour.png"/>
      <p>Ring of Vigour</p>
    </span>
  </li>

  <!-- ROW 7 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>7</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/shield.png"/>
      <p>Shield</p>
    </span>
  </li>

  <!-- ROW 8 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>8</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/resonance.png"/>
      <p>Resonance</p>
    </span>
  </li>

  <!-- ROW 9 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>9</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 defence">
    <span class="item">
      <img src="/assets/img/game-icon/ability/defence/natural_instinct.png"/>
      <p>Natural Instinct</p>
    </span>
  </li>

  <!-- ROW 10 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>10</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90">
    <span class="item">
      <img src="/assets/img/game-icon/item-slot/pocket.png"/>
      <p>Pocket Slot</p>
    </span>
  </li>

  <!-- ROW 11 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>11</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/limitless.png"/>
      <p>Limitless</p>
    </span>
  </li>

  <!-- ROW 12 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>12</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/ingenuity_of_the_humans.png"/>
      <p>Ingenuity of the Humans</p>
    </span>
  </li>

  <!-- ROW 13 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>13</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/slayers_insight.png"/>
      <p>Slayer's Insight</p>
    </span>
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/kuradals_favour.png"/>
      <p>Kuradal's Favour</p>
    </span>
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/aggression.png"/>
      <p>Aggression</p>
    </span>
  </li>

  <!-- ROW 14 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--10 Rtable-cell--title">
    <span class="item">
      <p>14</p>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--90 constitution">
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/dragon_slayer.png"/>
      <p>Dragon Slayer</p>
    </span>
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/demon_slayer.png"/>
      <p>Demon Slayer</p>
    </span>
    <span class="item">
      <img src="/assets/img/game-icon/ability/constitution/sigil/undead_slayer.png"/>
      <p>Undead Slayer</p>
    </span>
  </li>

</div>
