<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->
	
	{% include tables/_table_headings/item-list.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>92</p>
			<p>Two-handed</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/zaros_godsword.png"/>
			<p>Zaros Godsword</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/seren_godbow.png"/>
			<p>Seren Godbow</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/staff_of_sliske.png"/>
			<p>Staff of Sliske</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>92</p>
			<p>Dual Wield</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/khopesh_of_tumeken.png"/>
			<p>Khopesh<br>(Elindinis / Tumeken)</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/blightbound_crossbow.png"/>
			<p>Blightbound Crossbows</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/praesul_wand.png"/>
			<p>Praesul<br>(Wand / Core)</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>90</p>
			<p>Two-handed</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/noxious_scythe.png"/>
			<p>Noxious Scythe</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/noxious_longbow.png"/>
			<p>Noxious Longbow</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/noxious_staff.png"/>
			<p>Noxious Staff</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>90</p>
			<p>Dual Wield</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/drygore_longsword.png"/>
			<p>Drygore<br>(Long / Rapier / Mace)</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/ascension_crossbow.png"/>
			<p>Ascension Crossbows</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/seismic_wand.png"/>
			<p>Seismic<br>(Wand / Singularity)</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>85</p>
			<p>Two-handed</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/dragon_rider_lance.png"/>
			<p>Dragon Rider Lance</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/strykebow.png"/>
			<p>Strykebow</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/camel_staff.png"/>
			<p>Camel Staff</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>85</p>
			<p>Dual Wield</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/blade_of_nymora.png"/>
			<p>Fury Blades<br>(Nymora / Avaryss)</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/wyvern_crossbow.png"/>
			<p>Wyvern Crossbows</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/weapon/cywir_wand.png"/>
			<p>Cywir Elders<br>(Wand / Orb)</p>
		</span>
	</li>

</div>
