<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->
	
	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/weapon/special/darklight.png"/>
			<p>Darklight</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>T99 Damage + T90 Accuracy against Demons.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Slayer Tasks (Ripper and Kalgerion Demons).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>“Dimensions of Disaster” Quest (Purchase Upgrade from Gypsy).</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/weapon/special/keris.png"/>
			<p>Keris</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Boosts Hit Chance to scarabs by 15%.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Kalphite King and Queen.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Defeat the Giant Scarab in the “Contact!” Quest.</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/weapon/special/statius_warhammer.png"/>
			<p>Statius's Warhammer</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Increase Affinity by 5 (Lowers targets’ defence).</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Some high level Bosses. Add Aftershock 1.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Kill Revenants<br>(Or buy off the G.E)<br>[Expensive for what it is].
			</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/weapon/special/superior_vestas_spear.png"/>
			<p>Superior Vesta’s Spear</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Currently the most powerful spear.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Corporeal Beast.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Upgrade a Vesta’s Spear with an Ancient Warriors’ Equipment Patch.</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/weapon/special/mechanised_chinchompa.png"/>
			<p>Mechanised
Chinchompa</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Used when dealing with multiple
creatures clumped together.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Slayer Tasks (but expensive), Minions at AoD etc.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Invention - Cave Goblin Tree (Or buy off the G.E).</p>
		</span>
	</li>

	<!-- ROW 6 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<img src="/assets/img/game-icon/item/weapon/special/guthix_staff.png"/>
			<p>Guthix Staff</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Increase Affinity by 2 (Lowers targets’ defence).</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Some high level Bosses.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>Mage Arena Minigame (Cast Divine Storm 100x).</p>
		</span>
	</li>

</div>
