<!--
 This is a tabbed table on mobile view. One column should be built per button in the buttons list.
 All columns must have the same number of cells to remain the same size in desktop mode.
 Each cell requires style="order:n;" to be listed vertically, where 0 is top, and the heighest
 number is the bottom.
-->

<div class="Rtable Rtable--3cols Rtable--collapse js-RtableTabs">

  <!-- BUTTONS -->

  <div class="Tablist" role="tablist">
    <button class="Tab" role="tab" aria-selected="true">Slayer XP</button>
    <button class="Tab" role="tab" aria-selected="false">Combat XP</button>
    <button class="Tab" role="tab" aria-selected="false">Lenient Tasks</button>
  </div>

  <!-- col 1 -->

  <div style="order:0;" class="Rtable-cell Rtable-cell--head">
    <span class="item">
      <p>Slayer XP</p>
    </span>
  </div>
  <div style="order:1;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/airut.png"/>
      <p>Airut</p>
    </span>
  </div>
  <div style="order:2;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/crystal-shapeshifter.png"/>
      <p>Crystal Shapeshifter</p>
    </span>
  </div>
  <div style="order:3;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/dark-beast.png"/>
      <p>Dark Beast</p>
    </span>
  </div>
  <div style="order:4;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/greater-demon.png"/>
      <p>Greater Demon</p>
    </span>
  </div>
  <div style="order:5;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/black-demon.png"/>
      <p>Black Demon</p>
    </span>
  </div>
  <div style="order:6;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/ascension-creature.png"/>
      <p>Ascension Creature</p>
    </span>
  </div>
  <div style="order:7;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/dagannoth.png"/>
      <p>Dagannoth</p>
    </span>
  </div>
  <div style="order:8;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/grotworm.png"/>
      <p>Grotworm</p>
    </span>
  </div>

  <!-- col 2 -->

  <div style="order:0;" class="Rtable-cell Rtable-cell--head">
    <span class="item">
      <p>Combat XP</p>
    </span>
  </div>
  <div style="order:1;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/elf-warrior.png"/>
      <p>Elf</p>
    </span>
  </div>
  <div style="order:2;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/nechryael.png"/>
      <p>Nechryael</p>
    </span>
  </div>
  <div style="order:3;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/celestial-dragon.png"/>
      <p>Celestial Dragon</p>
    </span>
  </div>
  <div style="order:4;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/greater-demon.png"/>
      <p>Greater Demon</p>
    </span>
  </div>
  <div style="order:5;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/black-demon.png"/>
      <p>Black Demon</p>
    </span>
  </div>
  <div style="order:6;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/ascension-creature.png"/>
      <p>Ascension Creature</p>
    </span>
  </div>
  <div style="order:7;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/dagannoth.png"/>
      <p>Dagannoth</p>
    </span>
  </div>
  <div style="order:8;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/grotworm.png"/>
      <p>Grotworm</p>
    </span>
  </div>

  <!-- col 3 -->

  <div style="order:0;" class="Rtable-cell Rtable-cell--head">
    <span class="item">
      <p>Lenient Tasks</p>
    </span>
  </div>
  <div style="order:1;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/elf-warrior.png"/>
      <p>Elf</p>
    </span>
  </div>
  <div style="order:2;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/crystal-shapeshifter.png"/>
      <p>Crystal Shapeshifter</p>
    </span>
  </div>
  <div style="order:3;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/dark-beast.png"/>
      <p>Dark Beast</p>
    </span>
  </div>
  <div style="order:4;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/greater-demon.png"/>
      <p>Greater Demon</p>
    </span>
  </div>
  <div style="order:5;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/black-demon.png"/>
      <p>Black Demon</p>
    </span>
  </div>
  <div style="order:6;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/ascension-creature.png"/>
      <p>Ascension Creature</p>
    </span>
  </div>
  <div style="order:7;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/dagannoth.png"/>
      <p>Dagannoth</p>
    </span>
  </div>
  <div style="order:8;" class="Rtable-cell">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/grotworm.png"/>
      <p>Grotworm</p>
    </span>
  </div>

</div>
