<div class="Rtable Rtable--3cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--head">
    <span>
      <p>Creature</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--head ">
    <span>
      <p>Tips</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--head">
    <span>
      <p>Guide</p>
    </span>
  </li>

  <!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/airut.png"/>
      <p>Airut</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Use 2h melee, and stack them in Kuradal's dungeon, as seen in the guide.</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=pWgGt6Aaasw" target="_blank" title="Jona Than’s Airut Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/abyssal-demon.png"/>
      <p>Abyssal Demon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Use mechanised chinchompas, aggression potions and a titan.</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=1R554vC0uI0" target="_blank" title="Jona Than’s Abyssal Demon Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/corrupted-worker.png"/>
      <p>Corrupt Creature</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Use 2h melee, aggression potions, a titan and vampyrism scrimshaw. Kill workers.</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=IxIgzKpimOM" target="_blank" title="Jona Than’s Corrupt Creature Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/hydrix-dragon.png"/>
      <p>Hydrix Dragon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Use ranged and a titan, utilise ultimates often and dodge their special attack.</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=JPZwXlDoSVw" target="_blank" title="Jona Than’s Hydrix Dragon Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/ripper-demon.png"/>
      <p>Ripper Demon</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Use darklight, a titan and vampyrism scrimshaw.</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=nbiT8tWFZCk" target="_blank" title="Jona Than’s Ripper Demon Guide"><button>Video Guide</button></a>
    </span>
  </li>

  <!-- ROW 6 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title">
    <span class="item">
      <img src="/assets/img/character-model/slayer-creature/manifest-shadow.png"/>
      <p>Shadow Creature</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Use a personal slayer dungeon and use 2h melee with aggression potions and a titan.</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <a href="https://www.youtube.com/watch?v=fg-YupoPfR8" target="_blank" title="Jona Than’s Shadow Creature Guide"><button>Video Guide</button></a>
    </span>
  </li>

</div>
