<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/amulet/brawlers_blood_necklace.png"/>
			<p>Brawler’s Blood Neck</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Best Slayer amulet for Melee.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Slayer Tasks (Melee).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Combine a Saradomin’s Whisper, Chaotic
				Remnant and Blood Necklace Shard.</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/amulet/farsight_blood_necklace.png"/>
			<p>Farsight Blood Neck</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Best Slayer amulet for Ranged.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Slayer Tasks (Ranged).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Combine a Saradomin’s Murmur, Chaotic
				Remnant and Blood Necklace Shard.</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/amulet/dragon_rider_amulet.png"/>
			<p>Dragon Rider Amulet</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Best Slayer amulet for Magic
(Increases Dragon Breath ability damage).</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Slayer Tasks (Magic).</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>“One of a Kind” Quest.</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/amulet/demon_horn_necklace.png"/>
			<p>Demon Horn Neck</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Restores prayer from ashes and bones
(Attuned Ectoplasmator + Bone Crusher).</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Slayer Tasks.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Buy for 35,000 Dungeoneering Tokens<br>
				(350,000xp in Dungeoneering).
			</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/amulet/salve_amulet_(e).png"/>
			<p>Salve Amulet (e)</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Best DPS amulet against Undead.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Slayer Tasks<br>(Edimmu).
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>“Haunted Mine” Quest followed by “The Lair of Tarn Razorlore” Miniquest.</p>
		</span>
	</li>

</div>
