---
layout: page
title: 404 Error - Page Not Found
---

<div class="content">

	<div class="flex-container">

		<div class="col two">
			<img class="left bottany-bot" src="/assets/img/character-model/bottany-bot.png"/>
		</div>

		<div class="col two">

			<h2>Uh oh, looks there's nothing here!</h2>

			<p>
				It looks like those pathetic bot scripts couldn't find what you were looking for. They really are useless aren't they?
			</p>

			<a href="javascript:history.back()">
					<button>Go Back in Time</button>
			</a>

			</div>

	</div>

</div>
