---
layout: homepage
title: Quick Links
---

<div class="flex-container polaroid_container">

    <div class="col three">

      <a href="https://discord.gg/2tgwWap" target="_blank" rel="noopener">
          <div class="polaroid">
              <img src="/assets/img/thumbnail/port-sarim.jpg" alt="Join our Discord community!">
              <div class="polaroid_container">
                  <p>Join us on Discord</p>
              </div>
          </div>
      </a>

    </div>

    <div class="col three">


        <a href="https://www.patreon.com/rspocketbook" target="_blank" rel="noopener">
            <div class="polaroid">
                <img src="/assets/img/thumbnail/zamorak-heist.jpg" alt="Our Patreon | Help keep the website running!">
                <div class="polaroid_container">
                    <p>Support us on Patreon</p>
                </div>
            </div>
        </a>

    </div>

    <div class="col three">

        <a href="https://www.runescape.wiki" target="_blank" rel="noopener">
            <div class="polaroid">
                <img src="/assets/img/thumbnail/ghost-stories.jpg" alt="The official RuneScape news page.">
                <div class="polaroid_container">
                    <p>Visit the RuneScape Wiki</p>
                </div>
            </div>
        </a>

    </div>

</div>
