<div class="page">

	<section class="body">

		<!-- Article 1 -->

		<article class="container">

			<div class="title">

				<h1>{{ page.title }}</h1>

			</div>

			<div class="content">

				{{ content }}

			</div>

		</article>

	</section>

	<!-- SIDEBAR -->

	{% include sidebar.html %}

</div>
