<footer>

  <section class="container">

    <div class="content">

      <div class="contact">

        <div class="social-links">

          <h3>Join our community outside of Gielinor!</h3>

          <a href="https://discord.gg/2tgwWap" rel="noopener"><img src="/assets/img/icon/social/discord.png" /></a>
          <a href="https://twitter.com/rspocketbook" rel="noopener"><img src="/assets/img/icon/social/twitter.png" /></a>

        </div>

      </div>

    </div>

  </section>

  <section class="container">

    <div class="content">

      <div class="flex-container">

        <div class="col three">
          <p>
            <a href="./developer-guidelines.html">Contribute</a>
            <span>&#9679;</span>
            <a href="./license.html">Terms of Service</a>
            <span>&#9679;</span>
            <a href="./privacy-policy.html">Privacy</a>
          </p>
        </div>

        <div class="col three">
          <p>Content Copyright © 2019 RS PocketBook.</p>
        </div>

        <div class="col three">
			    <p>Website by <a href="https://www.rhysdyson.com" rel="noopener">Rhys Dyson</a></p>
		     </div>

      </div>

    </div>

  </section>

  <section>

    <div class="content">

      <p class="center">
        <a href="https://www.runescape.com" rel="noopener">RuneScape</a> ® is a registered trademark of <a href="https://www.jagex.com/en-GB/" rel="noopener">Jagex</a> © 1999 - 2020.
      </p>

    </div>

  </section>

</footer>
