<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116927953-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116927953-2');
</script>

<!-- Site Setup -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}"/>
<meta name="keywords" content="runescape, pocketbook, rspocketbook, game guide, pvm, slayer, skills, invention"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel='icon' href='https://rspocketbook.com/assets/img/favicon.ico' type='image/x-icon'/>

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/main.css"/>
<link rel="stylesheet" href="https://use.typekit.net/xcy0sgw.css">