<header>

	{% include code/banner.html %}

	<nav class="stellarnav">
		{% if site.data.primary-nav.nav[0] %}
		<ul>
			 {% for item in site.data.primary-nav.nav %}
			 <li><a href='{{ item.url }}'>{{ item.title }}</a>
					{% if item.level_2_items[0] %}
					<ul>
						 {% for entry in item.level_2_items %}
						 <li><a href='{{ entry.url }}'>{{ entry.page }}</a>
								{% if entry.level_3_items[0] %}
								<ul>
									{% for subentry in entry.level_3_items %}
										<li><a href='{{ subentry.url }}'>{{ subentry.page }}</a></li>
									{% endfor %}
								</ul>
								{% endif %}
						 </li>
						 {% endfor %}
					</ul>
				 {% endif %}
			 </li>
			 {% endfor %}
		</ul>
		{% endif %}
	</nav>
	<!-- .stellarnav -->

</header>

<div class="heroImg">

		<div class="logo">{% include icons/logo.html %}</div>

</div>
