<div class="page">

	<section class="body">

		<!-- Article 1 -->

		<article class="container">

			<div class="title">

				<h1>{{ page.title }}</h1>

			</div>

			<div class="content">

				{{ content }}

			</div>

		</article>

		<!-- Article 2 -->

		<article class="container">

			<div class="title">

				<h1>New to RS PocketBook?</h1>

			</div>

			<div class="content">

	      <div class="flex-container">

	        <div class="col two">
	          <img class="left" src="/assets/img/thumbnail/ariane.jpg"/>
	        </div>

					<div class="col two">

						<h2>Welcome All!</h2>

						<p>
							Welcome to the RS PocketBook—RuneScapes' most comprehensive gearing guide!
						</p>

						<p>
							We understand that RuneScape has become quite complex in recent years with new skills such as invention, higher tiers of gear and more items than ever. It can become overwhelming for current players, returning and new players alike.
						</p>

						<p>
 							This guide has been developed to help you manage your goals by outlining the best equipment and setups for you to strive for. This guide outlines a lot of the best in slot gear, but also provides cheaper alternatives at points where the sheer cost may outweigh the marginal benefit of the gear or perk.
						</p>

						</div>

				</div>

	    </div>

		</article>

		<!-- Article 3 -->

		<article class="container">

			<div class="title">

				<h1>Returning to RuneScape?</h1>

			</div>

			<div class="content">

	      <div class="flex-container">

	        <div class="col two">
	          <img class="left" src="/assets/img/thumbnail/land-out-of-time.jpg"/>
	        </div>

					<div class="col two">

						<h2>Welcome back!</h2>

						<p>
							RuneScape has evolved a lot since the good old times. If you're a returning player, consider checking out some of the latest content.
							The Prifddinas and Menaphos city expansions requiring <a href="https://runescape.wiki/w/Plague%27s_End" target="_blank" rel="noopener">Plague's End</a>
							and <a href="https://runescape.wiki/w/Jack_of_Spades" target="_blank" rel="noopener">The Jack of Spade's</a> quests respectively can be a great place to start.
						</p>

						<p>
							The mining and smithing rework offers new tiers of gear and methods of training those skills. Higher levelled players may want to experiment with the Invention skill, adding powerful abilities called "gizmos" to their weapons and armour, before facing the series of new bosses and elite dungeons.
						</p>

						</div>

				</div>

	    </div>

		</article>

		<!-- Article 4 -->

		<article class="container">

			<div class="title">

				<h1>We Love Hearing From You!</h1>

			</div>

			<div class="content">

	      <div class="flex-container two">

	        <div class="col two">
	          <img class="left" src="/assets/img/thumbnail/kindred-spirits.jpg"/>
	        </div>

					<div class="col two">

						<h2>Did we goof?</h2>

						<p>
							We love hearing your feedback as it directly impacts our little community and grows our guide! We accept all forms of feedback with open arms.
							While the website is still in development, we are primarily concerned with website bugs as opposed to content issues, but all will be logged and
							resolved in due time. If you're interested in becoming a contributor, or just want to say G'day, give us a hola over on Discord.
						</p>

						<a href="https://discord.gg/2tgwWap" target="_blank" rel="noopener">
								<button>Join our Discord</button>
						</a>

						</div>

				</div>

	    </div>

		</article>

	</section>

	<!-- SIDEBAR -->

	{% include sidebar.html %}

</div>
