<aside class="sidebar">

	<!-- Section 1 -->

	<section class="container mobile">

		<div class="title">

			<h1>Original PDF</h1>

		</div>

		<div class="content">

			<img src="/assets/img/sidebar/rspocketbook-pdf.jpg"/>

			<a href="https://guide.rspocketbook.com"  target="_blank" rel="noopener">
					<button>Access Original PDF</button>
			</a>

			<p class="sub-text" >v7.0.0. Updated 13-Jul-2019.</p>

		</div>

	</section>

	<!-- Section 2 -->

	<section class="container desktop">

		<div class="title">

			<h1>Website Development</h1>

		</div>

		<div class="content">

			<img src="/assets/img/sidebar/invention.jpg"/>

			<p>
				Want to contribute to the website, report an issue or suggest an update? Contact us on our <a href="https://discordapp.com/invite/2tgwWap" target="_blank">Discord server</a>.
			</p>

			<p>
				Alternatively, check out our list of logged changes, updates and tasks on Trello.
			</p>

			<a href="https://trello.com/b/NW62Hhby/website" target="_blank"  rel="noopener">
					<button>View Dev Tasks</button>
			</a>

		</div>

	</section>

	<!-- Section 3 -->

	<section class="container desktop">

		<div class="title">

			<h1>Sponsor</h1>

		</div>

		<div class="content">

			<a href="https://www.rhysdyson.com" target="_blank" rel="noopener">
				<img class="advert" src="/assets/img/sidebar/sponsor/rd.png"/>
			</a>

		</div>

	</section>

</aside>
