<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/berserker_aura.png"/>
			<p>
				Berserker
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span>
			<p>Best DPS aura for Melee.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell melee">
		<span>
			<p>Bossing<br>Prioritise this aura.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell melee">
		<span>
			<p>
				Wars' Wares:<br>
				25,000 Marks of War.
			</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/reckless_aura.png"/>
			<p>
				Reckless
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>Best DPS aura for Ranged.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>Bossing<br>Prioritise this aura.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>
				Wars' Wares:<br>
				25,000 Marks of War.
			</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/maniacal_aura.png"/>
			<p>
				Maniacal
			</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell magic">
		<span>
			<p>Best DPS aura for Magic.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell magic">
		<span>
			<p>Bossing<br>Prioritise this aura.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span>
			<p>
				Wars' Wares:<br>
				25,000 Marks of War.
			</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/dark_magic_aura.png"/>
			<p>Dark Magic</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Second best DPS aura<br>
				IF you have 100% Hit Chance.
			</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
			Bossing<br>
			Use when all above auras are on C/D.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Wars' Wares:<br>
				12,500 Marks of War.
			</p>
		</span>
	</li>

	<!-- ROW 5 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/mahjarrat_aura.png"/>
			<p>Mahjarrat</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Third best DPS aura.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Bossing<br>
				Use when all above auras are on C/D.
			</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>2015-2016 Premier Club Reward.</p>
		</span>
	</li>

</div>
