<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/item-use.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/vampyrism_aura.png"/>
			<p>Vampyrism</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Lifesteal for slayer tasks.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Slayer Tasks.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Wars' Wares:<br>
				5,000 Marks of War.
			</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/penance_aura.png"/>
			<p>Penance</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Prayer regeneration for slayer tasks.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Slayer Tasks.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Solomons' Store:<br>
				42,500 LP.
			</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item/aura/invigorate_aura.png"/>
			<p>Invigorate</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span>
			<p>Saves adrenaline after casting an ultimate ability. Stacks with Ring of Vigour.</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>Slayer Tasks.</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span>
			<p>
				Solomons' Store:<br>
				5,000 / 16,000 / 36,500 / 57,500 LP.
			</p>
		</span>
	</li>

</div>
