<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->
	
	{% include tables/_table_headings/item-list.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="skill">
			<p>Kiteshield</p>
			<p>90</p>
			<img src="/assets/img/game-icon/skill/defence.png"/>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/shield/malevolent_kiteshield.png"/>
			<p>Malevolent</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/shield/vengeful_kiteshield.png"/>
			<p>Vengeful</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/shield/merciless_kiteshield.png"/>
			<p>Merciless</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="skill">
			<p>Spirit Shield</p>
			<p>75</p>
			<img src="/assets/img/game-icon/skill/defence.png"/>
			<img src="/assets/img/game-icon/skill/prayer.png"/>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/shield/divine_spirit_shield.png"/>
			<p>Divine</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/shield/elysian_spirit_shield.png"/>
			<p>Elysian</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/shield/arcane_spirit_shield.png"/>
			<p>Arcane</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="skill">
			<p>Defender</p>
			<p>90</p>
			<img src="/assets/img/game-icon/skill/defence.png"/>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/shield/kalphite_defender.png"/>
			<p>Kalphite Defender</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span>
				<p>-</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/shield/kalphite_rebounder.png"/>
			<p>Kalphite Rebounder</p>
		</span>
	</li>

</div>
