<div class="Rtable Rtable--3cols Rtable--collapse">

	<!-- TITLES -->

	<!-- col 1 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Shield</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Gizmo 1</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell Rtable-cell--head">
		<span>
			<p>Components</p>
		</span>
	</li>

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/shield.png"/>
			<p>Kiteshield</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span class="perk">
				<img src="/assets/img/game-icon/perk/turtling.png"/>
				<p>Turtling 3</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Evasive</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/shield.png"/>
			<p>Spirit Shield</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span class="perk">
				<img src="/assets/img/game-icon/perk/lucky.png"/>
				<p>Lucky 5</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Silent</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/shield.png"/>
			<p>Defender</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span class="perk">
				<img src="/assets/img/game-icon/perk/precise.png"/>
				<p>Precise 3</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>5 Armadyl</p>
		</span>
	</li>

</div>
