<div class="Rtable Rtable--5cols Rtable--collapse">

	<!-- TITLES -->

	{% include tables/_table_headings/perks.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/body.png"/>
			<p>Torso</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/biting.png"/>
			<p>Biting 2</p>
			<img src="/assets/img/game-icon/perk/genocidal.png"/>
			<p>Genocidal</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell">
		<span>
			<p>3 Direct</p>
			<p>1 Powerful</p>
			<p>1 Bandos/Undead</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/crackling.png"/>
			<p>Crackling 3</p>
			<img src="/assets/img/game-icon/perk/crystal_shield.png"/>
			<p>Crystal Shield 1</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell">
		<span>
			<p>4 Explosive</p>
			<p>1 Faceted</p>
		</span>
	</li>

	<!-- ROW 2 -->

	<!-- col 1 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/legs.png"/>
			<p>Melee Legs</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/demon_slayer.png"/>
			<p>Demon Slayer</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell melee">
		<span>
			<p>5 Dextrous</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell melee">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/impatient.png"/>
			<p>Impatient 3</p>
			<img src="/assets/img/game-icon/perk/devoted.png"/>
			<p>Devoted 2/3</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell melee">
		<span>
			<p>5 Zamorak</p>
		</span>
	</li>

	<!-- ROW 3 -->

	<!-- col 1 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/legs.png"/>
			<p>Ranged Legs</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell ranged">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/demon_slayer.png"/>
			<p>Demon Slayer</p>
			<img src="/assets/img/game-icon/perk/dragon_slayer.png"/>
			<p>Dragon Slayer</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>1 Dragonfire</p>
			<p>2 Dextrous</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell ranged">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/impatient.png"/>
			<p>Impatient 3</p>
			<img src="/assets/img/game-icon/perk/devoted.png"/>
			<p>Devoted 2/3</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell ranged">
		<span>
			<p>5 Zamorak</p>
		</span>
	</li>

	<!-- ROW 4 -->

	<!-- col 1 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item-slot/legs.png"/>
			<p>Magic Legs</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell magic">
		<span class="perk">
			<img src="/assets/img/game-icon/perk/scavenging.png"/>
			<p>Scavenging 3</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell magic">
		<span>
			<p>5 Precious</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="perk">
				<img src="/assets/img/game-icon/perk/impatient.png"/>
				<p>Impatient 3</p>
				<img src="/assets/img/game-icon/perk/devoted.png"/>
				<p>Devoted 2/3</p>
		</span>
	</li>
	<!-- col 5 -->
	<li class="Rtable-cell magic">
		<span>
			<p>5 Zamorak</p>
		</span>
	</li>

</div>
