<div class="Rtable Rtable--4cols Rtable--collapse">

	<!-- TITLES -->
	
	{% include tables/_table_headings/item-list.html %}

	<!-- ROW 1 -->

	<!-- col 1 -->
	<li class="Rtable-cell">
		<span>
			<p>90</p>
		</span>
	</li>
	<!-- col 2 -->
	<li class="Rtable-cell melee">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/achto_teralith_cuirass.png"/>
			<p>Achto Teralith</p>
		</span>
	</li>
	<!-- col 3 -->
	<li class="Rtable-cell ranged">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/achto_tempest_body.png"/>
			<p>Achto Tempest</p>
		</span>
	</li>
	<!-- col 4 -->
	<li class="Rtable-cell magic">
		<span class="item">
			<img src="/assets/img/game-icon/item/armour/achto_primeval_robe_top.png"/>
			<p>Achto Primeval</p>
		</span>
	</li>

</div>
