<!-- col 1 -->
<li class="Rtable-cell Rtable-cell--head">
  <span>
    <p>Ability</p>
  </span>
</li>
<!-- col 2 -->
<li class="Rtable-cell Rtable-cell--head">
  <span>
    <p>Unlock Priority</p>
  </span>
</li>
<!-- col 3 -->
<li class="Rtable-cell Rtable-cell--head">
  <span>
    <p>Type</p>
  </span>
</li>
<!-- col 4 -->
<li class="Rtable-cell Rtable-cell--head">
  <span>
    <p>Explanation</p>
  </span>
</li>
