<!-- col 1 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Slot</p>
	</span>
</li>
<!-- col 2 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Gizmo 1</p>
	</span>
</li>
<!-- col 3 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Components</p>
	</span>
</li>
<!-- col 4 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Gizmo 2</p>
	</span>
</li>
<!-- col 5 -->
<li class="Rtable-cell Rtable-cell--head">
	<span>
		<p>Components</p>
	</span>
</li>
