<div class="Rtable Rtable--3cols Rtable--collapse">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell">
    <span class="item">
        <button onclick="window.location.href = 'ability-bars/full_manual.html';">Full Manual</button>
    </span>
  </li>
	<!-- col 2 -->
  <li class="Rtable-cell">
    <span class="item">
        <button onclick="window.location.href = 'ability-bars/revolution.html';">Revolution</button>
    </span>
  </li>
  <!-- col 3 -->
  <li class="Rtable-cell">
    <span class="item">
        <button onclick="window.location.href = 'ability-bars/full-automatic.html';">Full Automatic</button>
    </span>
  </li>

</div>
