// Primary Gold Buttons

button, .button
  font-family: 'Cinzel', serif
  font-weight: bold
  
  max-width: 300px
  text-align: center

  display: block
  margin-left: auto
  margin-right: auto

  border: none
  color: black
  padding: 15px
  text-align: center
  text-decoration: none
  font-size: 16px
  border-radius: 2px
  background: $primary-btn

button:hover, .button:hover
  background: $primary-btn-hover
  box-shadow: $box-shadows
  color: #000

.sidebar button
  max-width: 100%
  margin-top: 15px