<div class="Rtable Rtable--6cols Rtable--collapse desktop">

	<!-- TITLES -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10 Rtable-cell--head">
    <span>
      <p>Slot</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell Rtable-cell--head ">
    <span>
      <p>Primary<br>(Primary)</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell Rtable-cell--head">
    <span>
      <p>Secondary<br>(Consumables)</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell Rtable-cell--head">
    <span>
      <p>Tertiary<br>(Defensives)</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell Rtable-cell--head">
    <span>
      <p>Quaternary<br>(Switches)</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell Rtable-cell--head">
    <span>
      <p>Quinary<br>(Misc)</p>
    </span>
  </li>

  <!-- ROW 1 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span>
      <p>Slot 1</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>1</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>F</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + Q</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + 1<br>[ - ]</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + 1<br>[ Insert ]</p>
    </span>
  </li>

  <!-- ROW 2 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span>
      <p>Slot 2</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>2</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>G</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + W</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + 2<br>[ = ]</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + 2<br>[ Home ]</p>
    </span>
  </li>

  <!-- ROW 3 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span>
      <p>Slot 3</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>3</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>H</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + E</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + 3<br>( 0 )</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + 3<br>[ Page Up ]</p>
    </span>
  </li>

  <!-- ROW 4 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 4</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
  <span>
    <p>4</p>
  </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>Z</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + R</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + F</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + 4<br>[ Delete ]</p>
    </span>
  </li>

  <!-- ROW 5 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 5</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>5</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>X</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + T</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + E</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + 5<br>[ End ]</p>
    </span>
  </li>

  <!-- ROW 6 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 6</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>6</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>C</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + A</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + R</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + F<br>[ 9 ]</p>
    </span>
  </li>

  <!-- ROW 7 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 7</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>7</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>V</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + S</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>T</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + 4</p>
    </span>
  </li>

  <!-- ROW 8 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 8</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>8</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>B</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + Q</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>Y</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>D</p>
    </span>
  </li>

  <!-- ROW 9 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 9</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>Q</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>F1</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + W</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>M</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + G<br>[ . (Period) ]</p>
    </span>
  </li>

  <!-- ROW 10 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 10</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>W</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>F2</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + A</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>J</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>Shift + D<br>[ , (Comma) ]</p>
    </span>
  </li>

  <!-- ROW 11 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 11</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>E</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>F3</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + S</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>K</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>L</p>
    </span>
  </li>

  <!-- ROW 12 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 12</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>A</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>F4</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>Ctrl + D</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>* Click *</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>* Click *</p>
    </span>
  </li>

  <!-- ROW 13 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 13</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>S</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>F5</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>I</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>* Click *</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>* Click *</p>
    </span>
  </li>

  <!-- ROW 14 -->

	<!-- col 1 -->
  <li class="Rtable-cell Rtable-cell--title Rtable-cell--10">
    <span class="item">
      <p>Slot 14</p>
    </span>
  </li>
  <!-- col 2 -->
  <li class="Rtable-cell">
    <span>
      <p>R</p>
    </span>
  </li>
	<!-- col 3 -->
  <li class="Rtable-cell">
    <span>
      <p>F6</p>
    </span>
  </li>
  <!-- col 4 -->
  <li class="Rtable-cell">
    <span>
      <p>O</p>
    </span>
  </li>
  <!-- col 5 -->
  <li class="Rtable-cell">
    <span>
      <p>* Click *</p>
    </span>
  </li>
  <!-- col 6 -->
  <li class="Rtable-cell">
    <span>
      <p>* Click *</p>
    </span>
  </li>

</div>
